<div class="message">
	<php> 
		$error = \Common\Lib\System::GetError(); 
		$notice = \Common\Lib\System::GetNotice();
	</php>
	<if condition="$error">
		<div class="alert   alert-danger alert-dismissible">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					{$error}
		</div>
	</if>
	
	<if condition="$notice">
		<div class="alert   alert-success alert-dismissible">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					{$notice}
		</div>
	</if>
</div>