@CHARSET "UTF-8";
.login_body{
	background-color:#eee;
	padding:40px 0;
}

.form-login{
	margin:0 auto;
	padding:15px;
	max-width:330px;
}

.login_input{
	/*margin:5px;*/
	padding:10px;
	font-size:16px;
	height:auto;
}

.login_checkbox{
	margin:10px 0;
}

.login_checkbox label{
	font-weight:400;
}